app/target/
admin/target/
core/target/
spark/target/
python/target/
python/darwin_fs/darwin_fs.egg-info/
target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
ignite/
execution.log
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/**
**/*.iml
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### generated ###
**/generated/*
**/asciidoc/*

logs/*
.vscode
# .secrets is where we keep secrets required for local development
.secrets
# .config is generated when mvn config:init is run
.config
.env

#swagger resources
**/webroot/swagger/

./ignite

__pycache__/