apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: grafana-config-{{ .Release.Name }}
  namespace: prometheus
stringData:
  grafana.ini: |
    [date_formats]
    default_timezone = Asia/Kolkata
    [server]
    domain = {{.Values.domain}}
    root_url = %(protocol)s://%(domain)s{{.Values.grafana.rootPath}}
    serve_from_sub_path = false
    [auth.anonymous]
    enabled = true
    org_name = Main Org.
    org_role = Admin
    hide_version = true
    [auth.basic]
    enabled = false
    [auth]
    disable_login_form = true
    [security]
    allow_embedding = true
    cookie_secure = true
    cookie_samesite = none
    [dashboards]
    default_home_dashboard_path = /grafana-dashboard-definitions/0/darwin-default-dashboard/darwin-default-dashboard.json
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-{{ .Release.Name }}
  namespace: prometheus
data:
  prometheus.yaml: |-
    {
      apiVersion: 1,
      datasources: [
        {
          name: prometheus,
          type: prometheus,
          url: http://{{ .Release.Name }}-prometheus.prometheus.svc.cluster.local:9090,
          version: 1,
          orgId: 1,
          editable: true,
          isDefault: true
        }
      ]
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-grafana
  namespace: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-grafana
  template:
    metadata:
      name: {{ .Release.Name }}-grafana
      labels:
        app: {{ .Release.Name }}-grafana
        {{- include "ray-cluster.monitoring.labels" . | nindent 8 }}
    spec:
      {{- if .Values.grafana.nodeSelector }}
      nodeSelector: {{ toYaml .Values.grafana.nodeSelector | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Release.Name }}-grafana
          image: {{ .Values.grafana.image | default "000375658054.dkr.ecr.us-east-1.amazonaws.com/darwin:grafana" }}
          ports:
            - name: grafana
              containerPort: 3000
          volumeMounts:
            - mountPath: /etc/grafana/provisioning/datasources
              name: {{ .Release.Name }}-grafana
              readOnly: false
            - mountPath: /etc/grafana/provisioning/dashboards
              name: grafana-dashboards
              readOnly: false
            - mountPath: /grafana-dashboard-definitions/0/darwin-default-dashboard
              name: darwin-default-dashboard
              readOnly: false
            - mountPath: /grafana-dashboard-definitions/0/ray-dashboards
              name: ray-dashboards
              readOnly: false
            - mountPath: /etc/grafana
              name: grafana-config
              readOnly: false
          resources:
            limits:
              cpu: "1"
              memory: "1G"
      volumes:
        - name: {{ .Release.Name }}-grafana
          configMap:
            defaultMode: 420
            name: grafana-{{ .Release.Name }}
        - name: grafana-config
          secret:
            secretName: grafana-config-{{ .Release.Name }}
        - name: grafana-dashboards
          configMap:
            name: grafana-dashboards
        - name: darwin-default-dashboard
          configMap:
            defaultMode: 420
            name: darwin-default-dashboard
        - name: ray-dashboards
          projected:
            defaultMode: 420
            sources:
              - configMap:
                  name: ray-dashboards
              - configMap:
                  name: ray-serve-dashboards
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-grafana
  namespace: prometheus
spec:
  selector:
    app: {{ .Release.Name }}-grafana
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
