# Ignore everything
*

# But not these files/directories
!hermes/
!hermes/**
!setup.py
!requirements.txt
!README.md
!MANIFEST.in
!pyproject.toml
!.pypirc
!.gitignore
!examples/
!examples/**
!setup_and_install.sh
!.ci
!.github
!.ci/**
!.github/**
!*.md
!.blackignore
!dev_scripts/**
!dev_scripts



# Exclude build artifacts
build/
dist/
*.egg-info/
*.egg

# Still ignore Python cache files even in allowed directories
**/__pycache__/
**/*.py[cod]