# Make sure to increase resource requests and limits before using this example in production.
# For examples with more realistic resource configuration, see
# ray-cluster.complete.large.yaml and
# ray-cluster.autoscaler.large.yaml.
apiVersion: ray.io/v1alpha1
kind: RayService
metadata:
  name: {{ include "ray-cluster.fullname" . }}
  annotations: {{ toYaml .Values.annotations | nindent 4 }}
spec:
  serviceUnhealthySecondThreshold: 60 # Config for the health check threshold for service. Default value is 60.
  deploymentUnhealthySecondThreshold: 60 # Config for the health check threshold for deployments. Default value is 60.
  serveConfig: {{- toYaml .Values.serveconfig | nindent 4}}
  rayClusterConfig:
    rayVersion: {{ .Values.head.rayVersion }} # should match the Ray version in the image of the containers
    ######################headGroupSpecs#################################
    # Ray head pod template.
    enableInTreeAutoscaling: true
    headGroupSpec:
      serviceType: {{ .Values.service.type }}
      rayStartParams:
      {{- range $key, $val := .Values.head.initArgs }}
        {{ $key }}: {{ $val | quote }}
      {{- end }}
      replicas: {{ .Values.head.replicas }}
      template:
        spec:
          imagePullSecrets: {{- toYaml .Values.imagePullSecrets | nindent 12 }}
          containers:
            - volumeMounts: {{- toYaml .Values.head.volumeMounts | nindent 14 }}
              name: ray-head
              image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              resources: {{- toYaml .Values.head.resources | nindent 16 }}
              args: ["/tmp/script/head.sh"]
              env:
                - name: TYPE
                  value: head
                - name: SHELL
                  value: /bin/bash
              {{- toYaml .Values.head.containerEnv | nindent 16}}
              {{- with .Values.head.envFrom }}
              envFrom: {{- toYaml . | nindent 16}}
              {{- end }}
              {{- if .Values.head.ports }}
              ports: {{- toYaml .Values.head.ports | nindent 16}}
              {{- end }}
              {{- if .Values.head.lifecycle }}
              lifecycle:
              {{- tpl (toYaml .Values.head.lifecycle) . | nindent 16 }}
              {{- end }}
            {{- if .Values.head.sidecarContainers }}
            {{- toYaml .Values.head.sidecarContainers | nindent 12 }}
            {{- end }}
          volumes: {{- toYaml .Values.head.volumes | nindent 12 }}
          affinity: {{- toYaml .Values.head.affinity | nindent 12 }}
          tolerations: {{- toYaml .Values.head.tolerations | nindent 12 }}
          nodeSelector: {{- toYaml .Values.head.nodeSelector | nindent 12 }}
          serviceAccountName: ray
          automountServiceAccountToken: true
          terminationGracePeriodSeconds: 0
        metadata:
          annotations: {{- toYaml .Values.head.annotations | nindent 14 }}
          labels:
            groupName: {{ .Values.head.groupName }}
            rayNodeType: {{ .Values.head.type }}
            rayCluster: {{ include "ray-cluster.fullname" . }}
            {{- toYaml .Values.head.labels | nindent 12 }}
{{ include "ray-cluster.labels" . | indent 12 }}

    workerGroupSpecs:
    {{- range $groupName, $values := .Values.additionalWorkerGroups }}
    {{- if ne $values.disabled true }}
    - rayStartParams:
      {{- range $key, $val := $values.initArgs }}
        {{ $key }}: {{ $val | quote }}
      {{- end }}
      replicas: {{ $values.replicas }}
      minReplicas: {{ $values.miniReplicas | default 1 }}
      maxReplicas: {{ $values.maxiReplicas | default 2147483647 }}
      groupName: {{ $groupName }}
      template:
        spec:
          imagePullSecrets: {{- toYaml $.Values.imagePullSecrets | nindent 12 }}
          initContainers:
            - name: init-myservice
              image: 000375658054.dkr.ecr.us-east-1.amazonaws.com/busybox:1.28
              command: ['sh', '-c', "until nslookup $RAY_IP.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for myservice; sleep 2; done"]
          containers:
            - volumeMounts: {{- toYaml $values.volumeMounts | nindent 14 }}
              name: ray-worker
              image: {{ $.Values.image.repository }}:{{ $.Values.image.tag }}
              imagePullPolicy: {{ $.Values.image.pullPolicy }}
              resources: {{- toYaml $values.resources | nindent 16 }}
              args: ["/tmp/script/worker.sh"]
              env:
                - name: TYPE
                  value: worker
              {{- toYaml $values.containerEnv | nindent 16}}
              {{- with $values.envFrom }}
              envFrom: {{- toYaml $ | nindent 16}}
              {{- end }}
              ports: {{- toYaml $values.ports | nindent 16}}
              {{- if $values.lifecycle }}
              lifecycle:
              {{- toYaml $values.lifecycle | nindent 16 }}
              {{- end }}
            {{- if $values.sidecarContainers }}
            {{- toYaml $values.sidecarContainers | nindent 12 }}
            {{- end }}
          volumes: {{- toYaml $values.volumes | nindent 12 }}
          affinity: {{- toYaml $values.affinity | nindent 12 }}
          tolerations: {{- toYaml $values.tolerations | nindent 12 }}
          nodeSelector: {{- toYaml $values.nodeSelector | nindent 12 }}
          serviceAccountName: ray
          automountServiceAccountToken: true
          terminationGracePeriodSeconds: 0
        metadata:
          annotations: {{- toYaml $values.annotations | nindent 12 }}
          labels:
            rayNodeType: {{ $values.type }}
            groupName: {{ $groupName }}
            rayCluster: {{ include "ray-cluster.fullname" $ }}
            {{- toYaml $values.labels | nindent 12 }}
{{ include "ray-cluster.labels" $ | indent 12 }}
    {{- end }}
    {{- end }}
    {{- if ne (.Values.worker.disabled | default false) true }}
    - rayStartParams:
      {{- range $key, $val := .Values.worker.initArgs }}
        {{ $key }}: {{ $val | quote }}
      {{- end }}
      replicas: {{ .Values.worker.replicas }}
      minReplicas: {{ .Values.worker.miniReplicas | default 1 }}
      maxReplicas: {{ .Values.worker.maxiReplicas | default 2147483647 }}
      groupName: {{ .Values.worker.groupName }}
      template:
        spec:
          imagePullSecrets: {{- toYaml .Values.imagePullSecrets | nindent 12 }}
          initContainers:
            - name: init-myservice
              image: 000375658054.dkr.ecr.us-east-1.amazonaws.com/busybox:1.28
              command: ['sh', '-c', "until nslookup $RAY_IP.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for myservice; sleep 2; done"]
          containers:
            - volumeMounts: {{- toYaml .Values.worker.volumeMounts | nindent 14 }}
              name: ray-worker
              image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              resources: {{- toYaml .Values.worker.resources | nindent 16 }}
              args: ["/tmp/script/worker.sh"]
              env:
                - name: TYPE
                  value: worker
              {{- toYaml .Values.worker.containerEnv | nindent 16}}
              {{- with .Values.worker.envFrom }}
              envFrom: {{- toYaml . | nindent 16}}
              {{- end }}
              ports: {{- toYaml .Values.worker.ports | nindent 16}}
              {{- if .Values.worker.lifecycle }}
              lifecycle:
              {{- toYaml .Values.worker.lifecycle | nindent 16 }}
              {{- end }}
            {{- if .Values.worker.sidecarContainers }}
            {{- toYaml .Values.worker.sidecarContainers | nindent 12 }}
            {{- end }}
          volumes: {{- toYaml .Values.worker.volumes | nindent 12 }}
          affinity: {{- toYaml .Values.worker.affinity | nindent 12 }}
          tolerations: {{- toYaml .Values.worker.tolerations | nindent 12 }}
          nodeSelector: {{- toYaml .Values.worker.nodeSelector | nindent 12 }}
          serviceAccountName: ray
          automountServiceAccountToken: true
          terminationGracePeriodSeconds: 0
        metadata:
          annotations: {{- toYaml .Values.worker.annotations | nindent 12 }}
          labels:
            {{- toYaml .Values.worker.labels | nindent 12 }}
            rayNodeType: {{ .Values.worker.type }}
            groupName: {{ .Values.worker.groupName }}
            rayCluster: {{ include "ray-cluster.fullname" . }}
{{ include "ray-cluster.labels" . | indent 12 }}
    {{- end }}
  # headServiceAnnotations: {}
      # annotations passed on for the Head Service
      # service_key: "service_value"