apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "service-deployment.fullname" . }}
  annotations:
    {{- range $key, $value := .Values.podAnnotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  labels:
    {{- include "service-deployment.labels" . | nindent 8 }}
spec:
  {{- if not .Values.hpa.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      {{- include "service-deployment.selectorLabels" . | nindent 6 }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.flagger.maxSurge }}
      maxUnavailable: {{ .Values.flagger.maxUnavailable }}
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        {{- include "service-deployment.selectorLabels" . | nindent 8 }}
        role: rolling-update
        {{- include "service-deployment.labels" . | nindent 8 }}
      annotations:
        {{- include "service-deployment.podAnnotations" . | nindent 8 }}
        {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
    spec:
      {{- if .Values.topologySpreadConstraints }}
      topologySpreadConstraints: {{.Values.topologySpreadConstraints | toYaml | nindent 8 }}
      {{- end }}
      serviceAccountName: darwin
      containers:
      - env:
        {{- range $key, $value := .Values.envs }}
        - name: {{ $key }}
          value: {{ $value | quote }}
        {{- end }}
        - name: DD_PROFILING_ENABLED
          value: "true"
        - name: PLATFORM
          value: "k8s"
        - name:  DD_RUNTIME_METRICS_ENABLED
          value: "true"
        - name: DD_LOGS_INJECTION
          value: "true"
        {{- if .Values.configServer.enabled }}
        - name: CONSUL_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{  template "service-deployment.fullname" . }}
              key: CONSUL_TOKEN
        - name: VAULT_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{  template "service-deployment.fullname" . }}
              key: VAULT_TOKEN
        {{- end }}
        - name: DD_AGENT_HOST
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.hostIP
        - name: DD_ENV
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.labels['tags.datadoghq.com/env']
        - name: DD_SERVICE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.labels['tags.datadoghq.com/service']
        - name: DD_SERVICE_MAPPING
          value: |
                  aerospike:{{ .Values.name }}-aerospike,
                  cassandra:{{ .Values.name }}-cassandra,
                  datanucleus:{{ .Values.name }}-datanucleus,
                  elasticsearch:{{ .Values.name }}-elasticsearch,
                  hibernate:{{ .Values.name }}-hibernate,
                  java-aws-sdk:{{ .Values.name }}-java-aws-sdk,
                  jms:{{ .Values.name }}-jms,
                  kafka:{{ .Values.name }}-kafka,
                  memcached:{{ .Values.name }}-memcached,
                  mongo:{{ .Values.name }}-mongo,
                  rabbitmq:{{ .Values.name }}-rabbitmq,
                  redis:{{ .Values.name }}-redis,
                  twilio-sdk:{{ .Values.name }}-twilio-sdk,
                  voltdb:{{ .Values.name }}-voltdb,
                  mysql:{{ .Values.name }}-mysql
        - name: DD_TAGS
          value: "TEAM_SUFFIX:{{ .Values.envs.TEAM_SUFFIX }},VPC_SUFFIX:{{ .Values.envs.VPC_SUFFIX }}"
        - name: DD_VERSION
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.labels['tags.datadoghq.com/version']
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        # securityContext:
        #   allowPrivilegeEscalation: false
        #   readOnlyRootFilesystem: false
        livenessProbe:
{{ toYaml .Values.livenessProbe | indent 12 }}
        name: {{  template "service-deployment.fullname" . }}
        ports:
        - containerPort: {{ .Values.service.httpPort | default 8080 }}
          name: app-port
          protocol: TCP
        readinessProbe:
{{ toYaml .Values.readinessProbe | indent 12 }}
        command: {{ .Values.command }}
        resources:
{{ toYaml .Values.resources | indent 12 }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
          {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      # securityContext:
      #   runAsUser: 1000
      #   runAsGroup: 3000
      #   fsGroup: 0
      terminationGracePeriodSeconds: 30
