image:
  repository: confluentinc/cp-kafka
  tag: "7.4.0"
  pullPolicy: IfNotPresent

replicaCount: 3

listeners:
  client:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  interbroker:
    protocol: PLAINTEXT
  external:
    protocol: PLAINTEXT

auth:
  enabled: false
  sasl:
    mechanisms: ""
    users: []

persistence:
  enabled: true
  storageClass: ""
  size: 20Gi

zookeeper:
  enabled: false
  
externalZookeeper:
  servers: "{{ $.Release.Name }}-zookeeper:2181"

resources:
  limits:
    cpu: 1000m
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 1Gi

service:
  type: ClusterIP
  ports:
    client: 9092
    internal: 9093

config: |
  num.network.threads=3
  num.io.threads=8
  socket.send.buffer.bytes=102400
  socket.receive.buffer.bytes=102400
  socket.request.max.bytes=104857600
  num.partitions=3
  num.recovery.threads.per.data.dir=1
  offsets.topic.replication.factor=3
  transaction.state.log.replication.factor=3
  transaction.state.log.min.isr=2
  log.retention.hours=168
  log.segment.bytes=1073741824
  log.retention.check.interval.ms=300000
  group.initial.rebalance.delay.ms=0

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

topics:
  create: true
  config:
    - name: darwin
      partitions: 6
      replicationFactor: 3
