# Default values for ray-cluster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
annotations: {}
image:
  repository: CONTAINER_REGISTRY/REPOSITORY
  tag: IMAGE_TAG
  pullPolicy: Always

nameOverride: "kuberay"
fullnameOverride: ""

imagePullSecrets: []
  # - name: an-existing-secret

head:
  rayVersion: 2.3.1
  enableIngress: true
  serviceType: ClusterIP
  groupName: headgroup
  replicas: 1
  type: head
  labels: {}

  initArgs:
    port: '6379'
    redis-password: 'LetMeInRay'
    dashboard-host: '0.0.0.0'
    node-ip-address: $MY_POD_IP  # auto-completed as the head pod IP
    block: 'true'
    metrics-export-port: "8080"
  containerEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: PLATFORM
      value: "k8s"

  envFrom: []
    # - secretRef:
    #     name: my-env-secret
  resources:
    limits:
      cpu: 4
      memory: "4G"
    requests:
      cpu: 4
      memory: "4G"
  ports:
  - containerPort: 6379
    name: gcs
  - containerPort: 8265
    name: dashboard
  - containerPort: 10001
    name: client
  - containerPort: 8000
    name: serve
  - containerPort: 8888
    name: jupyter
  - containerPort: 8080
    name: metrics
  annotations: {}

  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumes:
    - name: log-volume
      emptyDir: {}
    - name: SERVE_ID-scripts-vol
      configMap:
        name: SERVE_ID-script
        defaultMode: 0777
  volumeMounts:
    - mountPath: /tmp/ray
      name: log-volume
    - mountPath: /tmp/script
      name: SERVE_ID-scripts-vol
  sidecarContainers: []


worker:
  # If you want to disable the default workergroup
  # uncomment the line below
  # disabled: true
  groupName: wg
  replicas: 2
  miniReplicas: 2
  maxiReplicas: 2
  type: worker
  labels: {}
  initArgs:
    node-ip-address: $MY_POD_IP
    redis-password: LetMeInRay
    block: 'true'
    metrics-export-port: "8080"
  containerEnv:
    - name: MY_POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: PLATFORM
      value: "k8s"
    - name: RAY_DISABLE_DOCKER_CPU_WARNING
      value: "1"
    - name: CPU_REQUEST
      valueFrom:
        resourceFieldRef:
          containerName: ray-worker
          resource: requests.cpu
    - name: MY_POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
  envFrom: []
    # - secretRef:
    #     name: my-env-secret
  ports:
    - containerPort: 8080
      name: metrics
  resources:
    limits:
      cpu: 2
      memory: "4G"
    requests:
      cpu: 2
      memory: "4G"
  annotations: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumes:
    - name: log-volume
      emptyDir: {}
    - name: SERVE_ID-scripts-vol
      configMap:
        name: SERVE_ID-script
        defaultMode: 0777
  volumeMounts:
    - mountPath: /tmp/ray
      name: log-volume
    - mountPath: /tmp/script
      name: SERVE_ID-scripts-vol
  sidecarContainers: []

# The map's key is used as the groupName.
# For example, key:small-group in the map below
# will be used as the groupName
additionalWorkerGroups:
  smallGroup:
    # Disabled by default
    disabled: true
    replicas: 1
    miniReplicas: 1
    maxiReplicas: 3
    type: worker
    labels: {}
    initArgs:
      node-ip-address: $MY_POD_IP
      redis-password: LetMeInRay
      block: 'true'
      metrics-export-port: "8080"
    containerEnv:
      - name: MY_POD_IP
        valueFrom:
          fieldRef:
            fieldPath: status.podIP
      - name: PLATFORM
        value: "k8s"
      - name: RAY_DISABLE_DOCKER_CPU_WARNING
        value: "1"
      - name: CPU_REQUEST
        valueFrom:
          resourceFieldRef:
            containerName: ray-worker
            resource: requests.cpu
      - name: MY_POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
    envFrom: []
      # - secretRef:
      #     name: my-env-secret
    ports:
      - containerPort: 8080
        name: metrics
    resources:
      limits:
        cpu: 1
      requests:
        cpu: 200m
    annotations: {}
    nodeSelector: {}
    tolerations: []
    affinity: {}
    volumes:
      - name: log-volume
        emptyDir: {}
      - name: SERVE_ID-scripts-vol
        configMap:
          name: SERVE_ID-script
          defaultMode: 0777
    volumeMounts:
      - mountPath: /tmp/ray
        name: log-volume
      - mountPath: /tmp/script
        name: id-SERVE_ID-scripts-vol
    sidecarContainers: []

service:
  type: ClusterIP
  port: 8080
HealthCheckPath: /healthz

commands: []

serveconfig:
  importPath: IMPORT_PATH
  runtimeEnv: |
    working_dir: "WORKING_DIR"
  deployments:
    - name: DEPLOYMENT_NAME
      numReplicas: 3
      maxConcurrentQueries: 1
      # maxQueueSize: 100

        
HostName : HOSTNAME
SecurityGroup: SECURITY_GROUPS_LOCAL, SECURITY_GROUPS_PROD